* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	color: #fff;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	
	display: flex;

	ul {
		display: flex;
		list-style: none;
		gap: 16px;

		li {
			font-weight: 700;
			opacity: .4;
		}

		:nth-child(2) {
			position: relative;
			::after {
				content: '';
				display: block;
				height: 8px;
				width: 8px;
				background-color: #e54555;
				border-radius: 50%;
				position: absolute;
				top: -6px;
				right: -8px;
			}
		}

		li.current {
			opacity: 1;
			::after {
				content: '';
				display: block;
				height: 3px;
				width: 24px;
				background-color: #fff;
				margin: 4px auto 0;
			}
		}
	}

	.btn {
		font-size: 24px;
		padding: 24px;
	}
	
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.footer-nav-ul {
		background-color: #000;
		display: flex;
		align-items: center;
		list-style: none;
		padding: 16px 0;
		color: #9b9b9b;

		li {
			flex-grow: 1;
			flex-basis: 0;
			text-align: center;
			font-size: 24px;
		}

		li.current {
			color: #fff
		}

		li.message {
			position: relative;

			.message-counter {
				content: '';
				display: block;
				padding: 1px 6px;
				background-color: #e54555;
				color: #fff;
				border-radius: 8px;
				position: absolute;
				top: 0;
				left: 50%;
			}
			
		}
	
		span {
			display: block;
			font-size: 12px;
			line-height: 1.25;
		}

		.btn-plus {
			margin: 0 auto;
			width: 48px;
			border-radius: 10px;
			background-color: #fff;
			color: #000;
			border-left: 4px solid #75fbfd;
			border-right: 4px solid #ea33f7;
		}
	}
}


/* Sidebar */
.sidebar {
	/* padding: 0 16px; */
	position: absolute;
	right: 0;
	/* top: 40%; */

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	bottom: 160px;
	width: 96px;
	text-align: center;

	span {
		font-size: 14px;
		line-height: 1;
		display: block;
	}

	div {
		padding: 12px 24px;
	}
}

.reel-author {

	img {
		border-radius: 50%;
		border: 2px solid #fff
	}

	.bi {
		color: #fff;
		background-color: #e54555;
		font-size: 20px;
		border-radius: 50%;
		display: block;
		width: 26px;
		height: 26px;
		margin: 0 auto;
		transform: translateY(-13px);
	}
}

.reel-counter {

	.bi {
		font-size: 32px
	}

}


/* --------------------- */

/* General */

a {
	color: #fff;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* Reel caption */

.reel-caption {
	position: absolute;
	bottom: 78px;
	left: 0;
	width: calc(100% - 96px);
	padding: 20px;

	h3 {
		font-size: 16px;
		margin-bottom: 8px;
	}
}